secret_key = '1234'
debug = True
allowed_hosts = ['localhost']
db_engine = 'django.db.backends.sqlite3'
db_name = 'db.sqlite'
db_user = None
db_password = ''
db_host = ''
db_port = ''
static_url = '/static/'
media_url = '/media/'
mongo_db = 'testapi'
mongo_host = 'localhost'
mongo_port = 27017
mongo_user = None
mongo_password = None
rest_page_size = 10
cache_view_default_timeout = 60
cache_backend = 'django.core.cache.backends.filebased.FileBasedCache'
cache_loation = '/tmp/django_cache'